{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="{% static 'blog/style.css' %}"
    >
    <!-- Dynamic page title -->
    <title>
        {% block title %}
            My Blog
        {% endblock %}
    </title>
    
</head>
<body>
    <div class = "page-container">
            <!-- Shared navigation -->
        <nav>

            <div>

                <strong>
                    <a href="{% url 'home' %}" >
                    Rakshit's Blog
                </a>
                </strong>

            </div>

            <div>

                <a href="{% url 'home' %}" class="nav">
                    All Posts
                </a>

                <a href="{% url 'contact' %}" class="nav">
                    Contact
                </a>

            </div>

        </nav>

        <main>
            {% block content %}

            {% endblock %}
        </main>
        <footer>

            &copy; 2026 Rakshit Jambavalikar. All rights reserved.

        </footer>
    </div>
</body>

</html>