{% extends 'blog/base.html' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}


    <p>
        You can reach me through the following channel:
    </p>

    <hr>

    <h3>Email</h3>

    <a href="mailto:rakshitjambavalikar@gmail.com">
        rakshitjambavalikar@gmail.com
    </a>

    {% comment %} <h3>Social Links</h3>

    <ul>

        <li>
            <a href="https://github.com/yourusername">
                GitHub
            </a>
        </li>

        <li>
            <a href="https://linkedin.com/in/yourusername">
                LinkedIn
            </a>
        </li>

        <li>
            <a href="https://twitter.com/yourusername">
                Twitter
            </a>
        </li>

    </ul> {% endcomment %}

{% endblock %}