{% extends 'blog/base.html' %}


{% block title %}
    Homepage
{% endblock %}


{% block content %}

    {% for post in posts %}

    <a
    href="{% url 'post_detail' post.id %}"
    class="post-link"
    >

        <div class="post">

            <h2>{{ post.title }}</h2>

            <p>
                {{ post.content|truncatewords:15 }}
            </p>

            <small>

                {{ post.created_at }}

                {% if post.category %}
                    <a href="{% url 'category_posts' post.category.slug %}">

                        {{ post.category.name }}

                    </a>            
                {% endif %}

            </small>

        </div>

    </a>
    {% endfor %}

{% endblock %}