{% extends 'blog/base.html' %}


{% block title %}
    {{ post.title }}
{% endblock %}


{% block content %}
{% comment %} 
    <a href="{% url 'home' %}">
        Back to Homepage
    </a> {% endcomment %}

    <h1>{{ post.title }}</h1>

    <p>{{ post.content | safe}}</p>

    <small>

        Created on: {{ post.created_at }}

        {% if post.category %}

            •

            <a href="{% url 'category_posts' post.category.slug %}">

                {{ post.category.name }}

            </a>

        {% endif %}

    </small>

<div class="comment-section">

    <h2>Comments...</h2>

    {% for comment in post.comment_set.all %}

        <div class="comment">

            <strong>
                <u>{{ comment.author_name }}</u>
            </strong>

            <br>

            {{ comment.content }}

            <br>

            <small>

                Created on: {{ post.created_at }}

            </small>

        </div>

    {% empty %}

        <p>No comments yet.</p>

    {% endfor %}

</div>

<div class="comment-form">

    <h2>Add Comment</h2>

    <form method="POST">

        {% csrf_token %}

        <input
            type="text"
            name="author_name"
            placeholder="Your name"
            required
        >

        <textarea
            name="content"
            placeholder="Write your thoughts..."
            required
        ></textarea>

        <button type="submit">
            Post Comment
        </button>

    </form>

</div>

{% endblock %}
