{% extends 'blog/base.html' %}


{% block title %}
    {{ post.title }}
{% endblock %}


{% block content %}

    <a href="{% url 'home' %}">
        Back to Homepage
    </a>

    <h1>{{ post.title }}</h1>

    <p>{{ post.content }}</p>

    <small>
        Created on: {{ post.created_at }}
    </small>

{% endblock %}
<hr>

<h2>Comments</h2>


<!-- Loop through related comments -->
{% for comment in post.comment_set.all %}

    <div>

        <!-- Comment author -->
        <strong>
            {{ comment.author_name }}
        </strong>

        <br>

        <!-- Comment text -->
        {{ comment.content }}

        <br>

        <!-- Comment timestamp -->
        <small>
            {{ comment.created_at }}
        </small>

    </div>

    <hr>

{% empty %}

    <!-- If no comments exist -->
    <p>No comments yet.</p>

{% endfor %}